.category-highlight-block{
    padding-top:0;
    padding-bottom:0;
    .category-highlight{
        text-align:center;
        padding:5px;
        a{

        }
        .image{
            background-size:cover;
            background-position:center;
            padding-bottom:150%;
            margin-bottom:20px;

        }
        .content{

        }
    }
}