.contact-block{
    input[type=submit]{
        float:right;
        width:auto;
    }
    .input-radio{
        float:left;
        width:50%;
        padding:15px;
        position: relative;
        input{
            position:absolute;

        }
        input:checked + label{
            text-decoration:underline;
        }

        label{
            position: relative;
            background:White;
            border:1px solid colours(brand,grey_line);
            padding:20px; 
            text-align:center;
            font-weight:400;
            font-size:18px;
        }
    }
}