<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <update id="MageArray_Core::core" title="MageArray Extensions" module="MageArray_Customprice" sortOrder="80"
                resource="MageArray_Core::core"/>
        <add id="MageArray_Customprice::custompriceadmin" title="CSV Pricing" module="MageArray_Customprice"
             sortOrder="10" parent="MageArray_Core::core" dependsOnModule="MageArray_Customprice"
             resource="MageArray_Customprice::custompriceadmin"/>
        <add id="MageArray_Customprice::settings" title="Settings" module="MageArray_Customprice" sortOrder="30"
             resource="MageArray_Customprice::config_customprice"
             action="adminhtml/system_config/edit/section/customprice"
             parent="MageArray_Customprice::custompriceadmin"/>
    </menu>
</config>
