



.customer-account-login, .customer-account-create{
  background:white;
  .page-title-wrapper{

    margin-bottom:2em;
  }
  .columns{

  }
  #maincontent{

    .login-container{

      margin-top:2em;
      margin-bottom:5em;

      .login{
        .note{
          padding-left:10px;
        }
      }

      @include media-breakpoint-up(lg) { 
        display:flex;
      }
    }
    .block{


      padding:35px!important;
      box-shadow:0px 0px 25px rgba(0,0,0,0.1);

      .block-title{
        margin-bottom:20px;
      }
      @include media-breakpoint-up(lg) { 
        margin:20px;            

      }
      
    }
    .block-title{
      strong{
        font-weight:400;
        ;
        font-size:2em;
        margin-bottom:20px;
        
      }
    }
    .fieldset.login{
      margin-left:-10px;
      display:inline-block;
    }
    
    .block-new-customer .actions-toolbar{
      margin:20px 0;
    }
    .block-customer-login .actions-toolbar{
      padding:0 10px;
    }
    .actions-toolbar{
      text-align:center;
    }
    
  }
}


.account{
  .page-title-wrapper{
    display:block!important;
  }


  .block-title{
   @include font-size(16px,"body");
   ;
   font-size:30px;
   font-weight:300;
   strong{
    font-weight:300; 
  }

}

.action.edit{
  font-size:15px;
  font-weight:bold;
  font-style:initial;
  float:right;
  ;
  font-size:12px;

}
.box-actions{

}
.columns{

 display:flex;
 flex-direction:row;
 .sidebar{
  order:1;
}
.main{
  order:2;
  display:flex;
  flex-direction:row;
  .block{
    margin:0 20px;
    padding:20px 40px;
  }
}

}
.sidebar-additional{
  display:none!important;
}

.nav.items{


}

.account-nav-title:before{

}
.account-nav{


  ul{

    li{
      padding:5px 10px;
      line-height:1;
      text-align:center;
      display:inline-block;
      width:100%;
      font-weight:bold;
      @include font-size(14px,"body"); 
      a{
      @include font-size(14px,"body"); 
      font-weight:bold;

      }

    }
  }
}
.block-dashboard-info{
  flex:1;

}
.block-dashboard-addresses{
  flex:1;

}
.box-title{
  ;
  font-size:16px;
}
}
.block-customer-login{

}

.block-customer-login{
  @include media-breakpoint-up(lg) { 
    padding-left:0!important;
  }
}

.modals-wrapper .modal-popup._show{
  overflow-y:scroll;

} 





.account{

 .columns .main .block{
  padding:0;
}
.column{
  flex-wrap:wrap;
}
.column .block{
  width:100%;
  flex:initial;
  box-shadow:0px 0px 20px rgba(0,0,0,0.1);
  padding:30px!important;
}
.box-newsletter{
  display:none
}

.account-nav{
  display:flex;
  justify-content:flex-start;
}

.columns .sidebar{
  padding-left:10px;
}

.table-order-items{
  width:100%;
}
.table-order-items td, .table-order-items th, .table-additional-addresses-items  th,  .table-additional-addresses-items  td{
  padding:5px;
}

.table-order-items th,  .table-additional-addresses-items th{
  font-weight:600;
  ;
}

.action:not(.primary){
  padding:15px;
  ;
  border:1px solid black;
  padding:7px 15px;
  font-weight:300;
  color:#333;
  font-size:13px;
  margin:5px 0;
  text-transform:uppercase;
  font-weight:bold;
  display:inline-block;
  text-decoration:none;

}
.block-title .action{
  float:right;
}
.block-title{
  width:100%;
}
.block-dashboard-orders{
  width:100%!important;
}
.table-caption{
  display:none;
}

.order-details-items{
  width:100%;
  padding:20px;
  box-shadow:0px 0px 20px rgba(0,0,0,0.1);
  padding:30px!important;
}

.form-edit-account{
  width:100%;
}
.actions-toolbar{
  text-align:center;
  margin:20px;
}

.table-wrapper{
  width:100%; 

}

.block-addresses-default, .block-addresses-list{
  width:100%!important;
}
.table-additional-addresses-items{
  width:100%;
}

@include media-breakpoint-down(lg) { 

  .column .block{
    width:100%;
  }
}

}

.account{

  .page-title-wrapper{
    padding-top:2em;
  
  }
  .sidebar-main{
    float:right;
    width:23%;
    margin-right:2%;
    padding-top:1em;

  }
  .main{
    float:right;
    width:75%;
  }
}
.account {

  .block-title{
    padding-bottom:15px;
  }
.page-title{
margin-bottom:0.5em;
}

.columns{
.box{
  padding-bottom:15px;

}
}
}
