.catalogsearch-result-index{ 

	.sidebar.sidebar-main{
	display:none;
}

.sidebar-additional{
	display:none;
}

.toolbar-amount, .field.limiter{
	display:none!important;
}
.page-title-wrapper{
	display:block!important;

} 
} 

.catalogsearch-result-index .page-title-wrapper{
margin-top:50px;
margin-bottom:50px;
display:inline-block;
}

.sub-search-for-content{
padding:3em 0;
}