.catalogsearch-result-index{ 

	.sidebar.sidebar-main{
	display:none;
}

.sidebar-additional{
	display:none;
}

.toolbar-amount, .field.limiter{
	display:none!important;
}
.page-title-wrapper{
	display:block!important;

} 
} 