<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Parachute Catalog Plugin Module
 *
 * NOTICE OF LICENSE
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@bird.eu so we can send you a copy immediately.
 *
 * @category        Catalog
 * @package         Parachute_CatalogPlugin
 * @copyright       Copyright (c) 2019 Parachute Digital Solutions
 * @author          Parachute Digital Solutions
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Parachute_Common" setup_version="1.0.0">
    
    </module>
</config>
